/* ---------------------------------------------------------------------------
   (c) Telefónica I+D, 2013
   Author: Paulo Villegas
   ------------------------------------------------------------------------- */


body {
    /*background-color: #ffffff;*/
    padding-top: 100px;

}

.all-center {
  min-width: auto;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  justify-content: space-around;
}
/* HREF links */

a {
    color: #0174DF;
    text-decoration: none;
}
citySelect {
    color: #0174DF;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
/*a:visited {
    color: blue;
}
/
/* ....................................................................... */
/* The top-right side panel and its title child */

div#sidepanelright {
    position: absolute;
    pointer-events: none;
    top: 10px;
    right: 0px;
}

div#sidepanelleft {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 0px;
}

div#title {
    margin: 4px 2px 6px 0px;
    border-width: 0px;
    padding: 0px;
    text-align: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;    
    line-height: 18px;
    color: #5D1D4D;
    font-weight: bold;
    pointer-events: none;
}

div#title img {
    border-width: 0px;
    margin: 0px;
}


img#helpIcon {
    position: absolute; 
    right: 6px; 
    top: 100px; 
    pointer-events: all; 
    cursor: help;
} 


/* ....................................................................... */
/* On/off toggles for the help/info panels */

div.panel_off {
    visibility: hidden;
    pointer-events: none;
}

div.panel_on {
    visibility: visible;
    pointer-events: all;
}


/* ....................................................................... */

div#nocontent {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: 200px;
    background: #C3B091;
    border: solid 2px #a00;
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;    
    text-align: center;
    vertical-align: center;
    padding: 12px;
}

div#nocontent h1 {
    margin: 1em;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* ....................................................................... */
/* Movie details panel */

div#movieInfo2 {
    position: absolute;
    top: 100px;
    right: 10px;
    cursor: text;
    width: 200px;
    z-index: 1000;
    background: transparent; 
    /*border: solid 1px #aaa;*/
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;    
    padding: 5px;
    text-align: right;
}

div#movieInfo2 div#cover {
    text-align: right; 
    height: 30px;
}

div#movieInfo2 div.t {
    font-size: 18px;
    font-weight: bold;
}

div#movieInfo2 img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#movieInfo2 img.action {
    cursor: pointer;
    position: absolute;
}

div#movieInfo2 div.f {
    border-top: 1px dotted #8E5981;
    margin-bottom: 20px;
    margin-top: 3px;
}

div#movieInfo2 span.d {
    font-size: 13px;
    font-weight: bold;
}

div#movieInfo2 span.c {
    font-style: italic;
}

div#movieInfo2 span.l {
    font-size: 11px;
    
}


/* ....................................................................... */
/* term dist panel */

div#movieInfo {
    position: absolute;
    top: 95px;
    left: 10px;
    cursor: text;
    width: 200px;
    z-index: 1000;
    background: transparent; 
    /*border: solid 1px #aaa;*/
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;    
    padding: 10px;
    text-align: left;
}

div#movieInfo div#cover {
        text-align: left; 
        height: 30px;
    }

    div#movieInfo div.t {
        font-size: 18px;
        font-weight: bold;
    }

    div#movieInfo img.cover {
        margin-bottom: 6px;
        position: absolute;
        right: 3px;
    }

    div#movieInfo img.action {
        cursor: pointer;
        position: absolute;
    }

    div#movieInfo div.f {
        border-top: 1px dotted #8E5981;
        margin-bottom: 20px;
        margin-top: 3px;
    }

    div#movieInfo span.d {
        font-size: 14px;
        font-weight: bold;
    }

    div#movieInfo span.c {
        font-style: italic;
    }

    div#movieInfo span.l {
        font-size: 11px;
    }


/* ....................................................................... */
/* Cluster dist panel */

div#clusterInfo {
    position: absolute;
    top: 300px;
    left: 10px;
    cursor: text;
    width: 300px;
    z-index: 1000;
    background: transparent; 
    /*border: solid 1px #aaa;*/
    border-radius: 8px;    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;    
    padding: 4px;
    text-align: left;
}

div#clusterInfo div#cover {
    text-align: left; 
    height: 30px;
}

div#clusterInfo div.t {
    font-size: 18px;
    font-weight: bold;
}

div#clusterInfo img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#clusternfo img.action {
    cursor: pointer;
    position: absolute;
}

div#clusterInfo div.f {
    border-top: 1px dotted #8E5981;
    margin-bottom: 20px;
    margin-top: 3px;
}

div#clusterInfo span.e {
    font-size: 13px;
    padding: 2px;
}

div#clusterInfo span.d {
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
}

div#clusterInfo span.c {
    font-style: italic;
}

div#clusterInfo span.l {
    font-size: 11px;
   
}

/* ....................................................................... */
/* SVG elements */

div#movieNetwork svg {
    background-color: white;
    cursor: move;
}

line.link {
    stroke-opacity: 0.8; 
    stroke: #878989;
}

circle {
    cursor: crosshair;
    fill: rgba(0, 0, 0, 1);
    stroke-width: 5px;
}

circle.level1 {
    fill-opacity: 0.8;
}

circle.level2 {
    fill-opacity: 0.8;
}

circle.level3 {
    fill: #FFFFFF;
    fill-opacity: 0.8;
}

circle.cluster0 {
    stroke: #ffbf00;
    fill-opacity: 0.8;
}
circle.cluster1 {
    stroke: #ffbf00;
    fill-opacity: 0.8;
}

circle.cluster2 {
    stroke: #00ff55;
    fill-opacity: 0.8;
}

circle.cluster3 {
    stroke: #0a7cff;
    fill-opacity: 0.8;
}

circle.cluster4 {
    stroke: #ff0000;
    fill-opacity: 0.8;
}

circle.cluster5 {
    stroke: #9900ff;
    fill-opacity: 0.8;
}

circle.cluster6 {
    stroke: #5500ff;
    fill-opacity: 0.8;
}

circle.cluster7 {
    stroke: #ff00ae;
    fill-opacity: 0.8;
}

circle.cluster8 {
    stroke: #00ffd9;
    fill-opacity: 0.8;
}

circle.cluster9 {
    stroke: #e1ff00;
    fill-opacity: 0.8;
}

circle.cluster10 {
    stroke: #e500ff;
    fill-opacity: 0.8;
}

circle.place {
    stroke: #a6ff00;
    fill-opacity: 0.8;
}

circle.none {
    fill: ;
    stroke: black;
    fill-opacity: 0.8;
}


circle.sibling {
    /*fill: blue;*/
    fill: #337AB7;
}

circle.main {
    /*fill: red;*/
    fill: #FFFFFF;
    fill-opacity: 1.0;
}

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 12px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;    
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
    /*stroke-opacity: 0.5;*/
    /*visibility: hidden;*/
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}


/*.........................................................................*/

.chartterms div {
  font: 16px sans-serif;
  text-align: left;
  padding: 2px;
  margin: 1px;
  color: black;
}

/* ....................................................................... */

.clickInfoText {
    font: 18px sans-serif;
    text-align: center;
    height: 18px;
    background: transparent; 
}

div#movieInfo2 div.t {
    font-size: 18px;
    font-weight: bold;
}

/* no longer used */

.nlabel_on {
    visibility: visible;
    font-size: 12px;
    opacity: 1.0;
    fill: #101000;
    stroke: #ffffff;
    font-weight: bold;
}

.tooltip{
    position: absolute;
    width: 200px;
    height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-index:1000;
    text-align:center;
    background: rgba(222,223,163,0.8);
}


